.row{
    margin: 130px;
    justify-content: center !important;
}
.container{
    padding: 50px;
    justify-content: center;

}
#input{
    width: 50vw;
}
.form{
    display: flex;
    justify-content: center;
}
#btn1{
    margin-left: 20px;
}

body{
    background: linear-gradient(to top, red ,black);
}

li{
    list-style-type:none;
    font-size: 20px;
    text-align: center;
    display: inline;
    margin-right: 20px;
}
i{
    color: red;
}